#cityImg {
    position: relative;
    left: -8px;
    right: -12px;
    top: -8px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36pt;
}

h3 {
    text-align: center;
}

ul {
    text-align: center;
}

div {
    text-align: center;
    
}