
h1 {
    text-align: center;
    font-size: 36pt;
    color: beige;
}

h3 {
    text-align: center;
    color: beige;
}

ul {
    text-align: center;
    color: beige;
}

div {
    text-align: center;
    
}

#background-image {
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url(../images/Location_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

div {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.301);
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 16pt;
}

a {
    color: beige;
    font-weight: bold;
    padding: 120px;
    text-decoration: none;
}

#button-style {
    font-weight: bold;
    position: relative;
    left: 47%;
}

