#myHeader {
    color: burlywood;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 8px;
    left: 16px;
}

#bizName {
    color: burlywood;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#tagName {
    color: burlywood;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#ccVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

ul {
    color: burlywood;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 80%;
    display: block;
    padding: 8px;
}